body {
    background: black;
    color: white;
}

.top a {
    float: right;
}

a:hover {
    color: white;
}

img {
    height: 60%;
    width: 60%;
    margin: 0 70px;
}
.link {
    text-align: center;
}


.title {
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
}
.reason {
    border: 1px solid white;
    box-sizing: border-box;
    padding: 5%;
    margin-bottom: 20px;
}
